body {
    font-family: 'Roboto Mono', sans-serif;
    padding: 80px 40px;
}

h1 {
    text-align: center;
}
img {
    width: 20px; 
    height: 20px;
}

section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

article {
    width: 40%;
}

figure {
    width: 45%;
}