<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Diabetes App</title>
    <link href="css/style.css" rel="stylesheet"  type="text/css">  
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Insulin controler</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Diabetes App</h1>
        <div class="form-structor">
          <div class="signup">
            <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
            <div class="form-holder">
              <input type="username" class="input" placeholder="username" />
              <input type="password" class="input" placeholder="Password" />
              <input type="weight" class="input" placeholder="weight" />
            </div>
            <button class="submit-btn">Sign up</button>
          </div>
          <div class="login slide-up">
            <div class="center">
              <h2 class="form-title" id="login"><span>or</span>Log in</h2>
              <div class="form-holder">
                <input type="username" class="input" placeholder="username" />
                <input type="password" class="input" placeholder="Password" />
              </div>
              <button class="submit-btn">Log in</button>
            </div>
          </div>
        </div>
      </div>
 
       
  <section>
    <script src="js//main.js"></script>
  </section>
      <footer class="footer">
        <p>&copy; ironhack2020</p>
      </footer>
 
    </div>
  </body>
</html>