body {
    font-family: 'Roboto Mono', sans-serif;
    padding: 80px 40px;
}

h1 {
    text-align: center;
}

.insulin {
    width: 50px;
    margin-left: calc(70% + 100px);
    margin-bottom: 20px;
}
