body {
    font-family: 'Roboto Mono', sans-serif;
    padding: 80px 40px;
}

h1 {
    text-align: center;
}
.insulin {
    width: 200px;
    margin-left: calc(50% - 100px);
    margin-bottom: 80px;
}
section {
    text-align: center;
}
